<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Калькулятор</title>
    <link rel="stylesheet" href="main.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet"> 
</head>
<body> 
    <div id="root">
      <div class="container">
        <main class="main">

          <input type="text" placeholder="0" class="input" v-model="result">
          
          <div class="wrapper">
          <div class="cell-area">
            
            
            <div class="cell" v-for="(item, index) in numbers" @click="result+=item">
              {{ item }}
            </div>
            <div class="cell " @click="result+='.'">
              .
            </div>
            <div class="cell ">
              
            </div>
          </div>
          <div class="cell-area-second">
            <div class="cell cell-symbol" @click="result=''" id="eq">
              C
            </div>
            <div class="cell cell-symbol" @click="result+=item" v-for="(item, index) in symbs">
              {{item}}
            </div>
            
            <div class="cell cell-symbol" @click="makeResult" id="eq">
              =
            </div>
          </div>
        </div>
        </main>
        <span class="back" v-model="result"> {{ result }} </span>
      </div>
    </div>
</body>
    <script src="math.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="app.js"></script>
</html>